body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, #003366, #b27000, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 90s ease infinite;
  -moz-animation: colors 90s ease infinite;
  animation: colors 90s ease infinite;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  100%{background-position:0% 100%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  100%{background-position:0% 100%}
}
@keyframes colors {
  0%{background-position:0% 50%}
  100%{background-position:0% 100%}
}

.toolbar {
  position: absolute;
  bottom: -1px;
}

.toolbar .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #242424;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

.toolbar .button:after {
  content: "+";
}

.toolbar .button.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 60px;
}

.icons {
  display: none;
  width: 0%;
  overflow: hidden;
  list-style: none;
}

.icons.open {
  display: inline-block;
  width: 100%;
  margin: -68px 0 0 0;
  overflow: hidden;
}

.icons li {
  display: none;
  font-family: sans-serif;
}

.icons.open li {
  display: inline-block;
}

.faster_keyframe {
  animation: animateBubble 8s linear infinite, sideWays 2s ease-in-out infinite alternate !important;
}

.slower_keyframe {
  animation: animateBubble 50s linear infinite, sideWays 2s ease-in-out infinite alternate !important;
}

.less_wind_keyframe {
  animation: animateBubble 20s linear infinite, less_sideWays 2s ease-in-out infinite alternate !important;
}

.more_wind_keyframe {
  animation: animateBubble 20s linear infinite, more_sideWays 2s ease-in-out infinite alternate !important;
}
