/* http://codepen.io/thejimbirch/pen/xRebrZ */
body {
  background: #333;
  overflow: hidden;
}

img {
  display: none;
}

@-webkit-keyframes animateBubble {
  0% {margin-top: 1000px;}
  100% {margin-top: -100%;}
}

@-moz-keyframes animateBubble {
  0% {margin-top: 1000px;}
  100% {margin-top: -100%;}
}

@keyframes animateBubble {
  0% {margin-top: 1000px;}
  100% {margin-top: -100%;}
}

@-webkit-keyframes sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 50px;}
}

@-moz-keyframes sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 50px;}
}

@keyframes sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 50px;}
}

@-webkit-keyframes less_sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 1px;}
}

@-moz-keyframes less_sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 1px;}
}

@keyframes less_sideWays {
  0% { margin-left: 0;}
  100% { margin-left: 1px;}
}

@-webkit-keyframes more_sideWays {
  0% { margin-left: -250px;;}
  100% { margin-left: 250px;}
}

@-moz-keyframes more_sideWays {
  0% { margin-left: -250px;}
  100% { margin-left: 250px;}
}

@keyframes more_sideWays {
  0% { margin-left: -250px;;}
  100% { margin-left: 250px;}
}

.floating {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

img {
  position: absolute;
}
